@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.home-page {
    height: 90%;
    padding: 2vh 2vw;
    // background-color: blue;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header header"
        "banner banner banner banner banner banner"
        "title title title title title title"
        "main main main main main main";
    gap: 15px;
    &__header {
        grid-area: header;
        display: flex;
        justify-content: space-around;
        &__title {
            flex-grow: 8;
        }
        &__search {
            flex-grow: 2;
            display: flex;
            align-self: flex-end;
            justify-content: flex-end;
            &-box {
                & input {
                    font-size: 17px;
                    border: none;
                    padding: 6px;
                    &:focus {
                        outline: none
                    }
                }
            }
            &-button {
                & button {
                    float: right;
                    padding: 6px 10px;
                    margin-right: 16px;
                    background: #ddd;
                    font-size: 17px;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background-color: #ccc;
                    }
                }
            }
        }
    }
    &__banner {
        background-image: url("https://i.gojekapi.com/darkroom/gofood-id/v2/images/uploads/e5070ade-5908-44ab-a004-121594e736d8_hero.jpg?w=1920");
        border-radius: 20px;
        height: 30vh;
        grid-area: banner;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &-button {
            background-color: #00aa13;
            padding: 1rem;
            border: unset;
            border-radius: 1.75rem;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
            font-family: sans-serif;
            color: white;
            margin-bottom: 1rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__content-header {
        grid-column: 1 / span 3;
        width: 80%;
        justify-self: center;
        grid-area: title;
        font-weight: bolder;
        font-size: xx-large;
    }
    &__container {
        // background-color: black;
        grid-area: main;
        justify-self: center;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.6667vw;
    }
}